body {
    font-family: 'Open Sans', sans-serif;
}

.a {
    background-image: url(resources/Banner\ Image.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 100%;
    background: linear-gradient:(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 160px;
    border-radius: 20px;
    margin: 100px 0;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}


.a0 {
    text-align: center;
    padding: 177px 177px;
    color: #fff;
    font-family: Merriweather;
}

.a1 {
    font-size: 32px;
}

#a2 {
    font-weight: 900;
    font-size: 72px;
}

.bb {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.bbb {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.bbbb {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.bbb,
.bbbb {
    margin-bottom: 1%;
    margin-top: 0%;
}

#b1 {
    align-items: center;
    margin: 70px 0px 399px 400px;
}

#c {
    background-image: url(resources/Vectorrr.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center max-width: 1140px;
    margin: 0 auto;

}

.c1 {
    padding-left: 170px;
    background-image: url(resources/Group\ 70.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    max-width: 1140px;
    margin: 0 auto;
}

.c2 {
    padding-top: 70px;
    padding-bottom: 0px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 10px;

}

.c3 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 700px;
    padding-top: 0px;

}

a {
    color: #FFF;
    text-decoration: none;
    padding-top: 10px;
    margin-top: 8;
    padding-left: 10px;
}

.d {
    background: linear-gradient(rgb(249, 225, 225), hsla(0, 20%, 63%, 0));
    background-position: 100%;
    background-size: 1320px 482px 2416px 140px;
    padding: 130px;
    border-radius: 20px;
    margin: 130px 0;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.d1 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 600;
    margin-top: 0px;
}

.d2 {
    color: #FF0000;
    font-size: 32px;
    font-weight: 600;
}

#d3 {
    border-radius: 5px;
    background: #FF0000;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

.e {
    padding-left: 140px;
    padding-right: 140px;
    display: inline;
    display: inline-block;
}

.e0 {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    align-items: center;
    width: 424px;
    height: 450px;
    border-radius: 16px;
}

.e1 {
    padding-left: 140px;
    padding-right: 140px;
    display: inline;
    display: inline-block;
}

.images {
    align-items: first baseline;
}

.f0 {
    color: #F00;
    margin-top: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.f {
    padding-left: 150px;

}

.f1 {
    padding-top: 0px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}

.g {
    background-color: rgba(255, 0, 0, 0.05);
    height: 375px;
    padding: 130px;
    border-radius: 20px;
    margin: 130px 0;
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
}

.g1 {
    width: 150px;
    height: 150px;
    padding-top: 0 auto;
    
}
.g4 {
    border: none;
    border-radius: 50px 0px 0px 50px;
    border-width: 25px;
    width: 350px;
    height: 72px;
}

.g5 {
    margin-left: -35px;
    border-radius: 0px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

#g6 {
    border: none;
    font-size: 20px;
    background: #FF0000;
    border-radius: 0px 50px 50px 0px;
    border-width: 25px;
    width: 210px;
    height: 72px;
    margin-left: 0;
    color: white;
}
.g4::placeholder {
    padding: 10px;
    margin-left: 200px;
}
.h{
    background-color: #070211;
    width: 1600px;
    height: 509px;
    text-align: center;
    padding-top: 200px;
}
.h0 ,.hh{
    color: #FFF;
    display: inline-table
}
.hh{
    text-align: end;
    justify-content: end;
}
h4{
    justify-content: center;
}
.hhh{
    text-align: center;
    width: 375px
height: 80px

}